* {
    box-sizing: border-box;
}

body{
    font-family: Arial;
    padding: 10px;
    background: black;
}

.card{
    background-color: dimgray;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 25px;
}

/*Header card*/
.header h1{
    text-align: center;
    color: darkorange;
}

.header h2{
    font-size: 20px;
    color: #FF5548;
}

/*Snippet Info*/
h5{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 15px;
}

.card {
	display: flex;
}

.card .leftCol {
	min-width: 69%;
	margin-right: 2%;
}

.card .rightCol {
	min-width: 29%;
}

.card #infoArea {
    position: initial;
    height: 100px;
    padding: 0.5em;
    border-radius: 10px;
    resize: none;
	min-width: 100%;
}

.card #langDiv #accessory {
	margin-top: 7%;
	justify-content: space-between;
}

.card #langDiv #accessory h5 {
	display: inline-block;
	min-width: 45%;
	margin-right: 2%;
	margin-bottom: 0.5em;
	color: white;
}

.card button{
	margin-top: 1%;
    height: 50px;
    min-width: 100%;
    border: 2px solid black;
    color: black;
    background-color: darkorange;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.card button:hover{
    border-color: white;
}

/*Snippet Text*/
.card #textArea {
    height: 600px;
    min-width: 100%;
    font-size: 11pt;
    resize: vertical;
	padding: 0.5em;
    border-radius: 10px;
}

.card #commentArea {
	background: orange;
	padding: 0.5em;
    border-radius: 10px;
	min-height: 540px;
}

#contactDiv {
	min-weight: 100%;
	flex-direction: column;
}




