.navbar{
    background-color: #FCCD04;
    height: 80px;
    transition: 0.8s;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    bottom: 0;
}

.navbar-container{
    display: flex;
    height: 100%;
    justify-content: baseline;
    flex-wrap: nowrap;
    align-items: baseline;
}

.navbar-logo{
    color: #A63A50;
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.8s;
}

.menu-icon{
    color: white;
    font-size: 40px;
    position: absolute;
    align-self: end;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

a:hover {
    color: white; /*the default color*/
}