
body {
    background-color: #FCCD04;
    padding: 10px;
}

/* ---------- HOMEPAGE ---------- */

#homepage .container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#homepage .row{
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

#homepage h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

#homepage h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

#homepage div{
    text-align: center;
    justify-items: center;
    align-items: center;
}

#homepage .main_logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 75%;
    min-width: 600px;
}

#homepage .input_group{
    padding: 20px;
}

#homepage .input_group Input{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 70px;
    min-width: 300px;
    padding: 2px;
}

#homepage .input_group .formF{
    font-size: 20px;
}

#homepage .input_group Button{
    width: 400px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-top: 10px;
}

/* ---------- SNIPPET ---------- */

#snippetpage * {
    box-sizing: border-box;
}

#snippetpage .card{
    background-color: dimgray;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 25px;
}

/*Header card*/
#snippetpage .header h1{
    text-align: center;
    color: darkorange;
}

#snippetpage .header h2{
    font-size: 20px;
    color: #FF5548;
}

/*Snippet Info*/
#snippetpage h5{
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 15px;
}

#snippetpage .card {
	display: flex;
}

#snippetpage .card .leftCol {
	min-width: 69%;
	margin-right: 2%;
}

#snippetpage .card .rightCol {
	min-width: 29%;
}

#snippetpage .card #infoArea {
    position: initial;
    height: 100px;
    padding: 0.5em;
    border-radius: 10px;
    resize: none;
	min-width: 100%;
}

#snippetpage .card #langDiv #accessory {
	margin-top: 7%;
	justify-content: space-between;
}

#snippetpage .card #langDiv #accessory h5 {
	display: inline-block;
	min-width: 45%;
	margin-right: 2%;
	margin-bottom: 0.5em;
	color: white;
}

#snippetpage .card button{
	margin-top: 1%;
    height: 50px;
    min-width: 100%;
    border: 2px solid black;
    color: black;
    background-color: darkorange;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

#snippetpage .card button:hover{
    border-color: white;
}

/*Snippet Text*/
#snippetpage .card #textArea {
    height: 600px;
    min-width: 100%;
    font-size: 11pt;
    resize: vertical;
	padding: 0.5em;
    border-radius: 10px;
}

#snippetpage .card #commentArea {
	background: orange;
	padding: 0.5em;
    border-radius: 10px;
	min-height: 540px;
}

#snippetpage #contactDiv {
	min-width: 100%;
	flex-direction: column;
}




